@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@2,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,700;1,700&family=Oleo+Script+Swash+Caps:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,400;1,300&display=swap');
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
:root {
    --text-logo-font: 'Oleo Script Swash Caps', cursive;
    --main-coler : #F05123;
    --font-text-course: 'Oswald', sans-serif;
    --font-h1 :'Crimson Text', serif;
    --font-course-item: 'Nunito', sans-serif;
}




* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
}

.top {
  width: 100%;
}
.top img {
  width: 100%;
  background-size: cover;
}
/* nav {
    min-width: 100%;
  }
    */
  nav ul {
    position: relative; 
  }
   
  nav > ul:after {
    content: "";
    position: absolute;
    width: 50%;
    border-radius: 40%;
    height: 10%;
    bottom: 0;
    left: 20%;
    box-shadow: 0 0 10px rgba(28, 110, 126, 0.5);
    z-index: -1; 
  }
   
  nav > ul:hover:after {
    bottom: 1%; 
  }
   
  nav.ph-lift {
    text-align: center;
  }
    
  nav.ph-lift > ul {
      display: inline-block;
      position: relative;
  }
       
  nav.ph-lift > ul:after {
        box-shadow: 0 0 10px rgba(0, 128, 128, 0.5); 
  }
   
  nav.ph-lift ul li {
      float: left;
      height: 90px;
      line-height: 90px;
      background: white;
      overflow: hidden;
      -webkit-transition: all.6s ease;
      -moz-transition: all.6s ease;
      -o-transition: all.6s ease;
      -ms-transition: all.6s ease;
      transition: all.6s ease; 
      cursor: pointer;
  }
      
  nav.ph-lift ul li:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3) inset;
        background: teal; 
  }
       
  nav.ph-lift ul li a {
        display: block;
        text-decoration: none;
        color: #007e7e;
        padding: 0 45px;
        margin-top: 0;
        -webkit-transition: all.6s ease;
        -moz-transition: all.6s ease;
        -o-transition: all.6s ease;
        -ms-transition: all.6s ease;
        transition: all.6s ease; 
  }
       
  nav.ph-lift ul li:hover a {
        margin-top: -90px;
        color: white;
        text-shadow: 0 1px 2px  black; 
  }
        
  nav.ph-lift ul li a:after {
          content: attr(data-title);
          display: block; 
  }

  .contact {
      margin: 5%;
  }



  .info-user {
      float: left;
      width: 40%;
      margin-left: 10%;
      font-family: 'Fahkwang', sans-serif;
  }

  .info-user h1 {
    font-size: 30px;
    font-weight: 500;
  }
  .form {
    position: relative;
    margin-bottom: 5%;
  }
    
  .form-input {
   
    border: 2px solid rgb(211, 199, 199);
    border-radius: 4px;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    transition: 0.25s ease;
  }
  
  .form-input:focus {
    border-color: teal;
  }
  .form-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.25s ease;
  }
  .form-input:not(:placeholder-shown) + .form-label, 
  .form-input:focus + .form-label{
    top: 0;
    left: 11px;
    padding: 0 10px;
    display: inline-block;
    background-color: white;
    color: teal;
  }





  .info-com {
      float: right;
      width: 40%;
      font-family: 'Fahkwang', sans-serif;
  }

.h1 {
  margin-bottom: 10%;
}

.info-com h3 {
  margin: 1% 0 10%;
  font-size: 25px;
  font-weight: 300;
}

.info-com h5 {
  font-size: 15px;
  font-weight: 600 ;
  font-family: inherit;
  text-transform: uppercase;
  color:rgba(115,115,115)
}


.follow-icons {
  margin: 1% 0 10%;
}


.fab {
  font-size: 30px;
  line-height: 40px;
  padding-right: 10px;
  color: rgb(71, 70, 70);
}


.snip1582 {
  background-color: teal;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 50%;
  transform: translateX(-50%);
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
   
}

.snip1582:before,
.snip1582:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.snip1582:before {
  border-color: teal;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.snip1582:after {
  border-bottom-width: 2px;
  border-color: teal;
  bottom: -5px;
  right: 0px;
}

.snip1582:hover,
.snip1582.hover {
  background-color: teal;
}

.snip1582:hover:before,
.snip1582.hover:before,
.snip1582:hover:after,
.snip1582.hover:after {
  height: 100%;
  width: 100%;
}


.info-details {
  margin-left: 10%;
}